@font-face {
    src: url('/assets/Rubik-Regular.ttf');
    font-family: 'rubik';
    font-display: swap;
}

@font-face {
    src: url('/assets/Iosevka-Regular.ttf');
    font-family: 'iosevka';
    font-display: swap;
}

::-webkit-scrollbar {
    display: none;
}

:root {
  --bg-1: #feedf3;
  --bg-0: #f8e2e7;
  --fg:   #564448;
  --ac-0: 223, 45, 82;
  --ac-1: 29, 137, 145;
}

html {
    display: block;
    margin: auto;
    scroll-padding-top: 4em;
}

body {
    display: block;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'rubik', system-ui, Sans-Serif;
    font-size: large;
    background-color: var(--bg-1);
    color: var(--fg);
}

a {
    text-decoration: none;
    text-decoration: underline;
    text-underline-offset: .3em;
    color: rgba(var(--ac-0), 1);
}

a:hover {
  color: var(--bg-1);
  background-color: rgba(var(--ac-0), 1);
}

a[href^="http"]::after {
    content: "\2197";
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    top: 0;
    z-index: 20;
    max-width: 100vw;
    position: relative;
    z-index: 2000;
    background-color: var(--bg-0);
}

nav a {
    text-decoration: none;
    display: inline-block;
    transition: all 300ms;
}

header {
    position: relative;
    top: 0;
}

header a {
    padding: 10px;
    margin: 5px;
    transition: all 100ms;
    border-radius: 5px;
    text-decoration: none;
    color: var(--fg);
}

header a:hover {
    text-decoration: underline;
    text-underline-offset: .2em;
    color: var(--bg-0);
}

header a:active {
    border-radius: 0;
}

main {
    position: relative;
    max-width: 60ch;
    display: block;
    margin: auto;
}

section {
  display: none;
  width: 90%;
  min-height: 100vh;
  padding: 1em;
  position: absolute;
  top: 0;
  background-color: var(--bg-1);
  z-index: 5;
}

section#home, section:target {
  display: block;
}

img {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 1em auto;
}

pre {
  font-family: "iosevka", monospace;
  border: solid .1em;
  border-radius: 3px;
  margin: 0;
  overflow: scroll;
  padding: 10px;
  border-color: var(--fg);
}

pre.src {
  background-color: var(--fg);
  color: var(--bg-1);
}

pre.src:has(+ pre.src) {
    margin-bottom: 1em;
}

pre.src:has(+ pre.example) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    margin-bottom: 0;
}

pre.src + pre.example {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

pre.example {
  background-color: rgba(var(--ac-0), 1);
  color: var(--bg-1);
}

p code {
    font-family: 'iosevka', monospace;
    border-radius: 5px;
    padding: 2px 6px;
    display: inline-block;
    color: var(--bg-1);
    background-color: var(--fg);
}

li {
  padding-inline-start: 10px;
  list-style-position: inside;
}

li + br {
  display: none;
}

.blog_entry {
  color: var(--fg);
}

ul:has(.blog_entry) {
  margin: 0;
  padding: 0;
  list-style: none;
}

li:has(.blog_entry) {
    line-height: 2.0;
    padding-inline-start: 0px;
}

li:has(.blog_entry) a {
    padding: 3px 10px;
    border-radius: 5px;
    transition: all 300ms;
    text-decoration: none;
    margin: 5px;
    display: block;
    line-height: 2.0;
    background-color: var(--fg);
}

li:has(.blog_entry) {
    margin: 10px 0;
    list-style: none;
}

li:has(.blog_entry) a {
  color: var(--bg-0);
}

li:has(.blog_entry) a:hover {
  background-color: rgba(var(--ac-0), 1);
}

li:has(.blog_entry) a:active {
    border-radius: 0;
}

blockquote {
    margin: 1em 0;
    padding: .3em 1em;
    border-radius: 3px;
    line-height: 1.3;
    border-left: solid .3em;
}

.quote {
  color: rgba(var(--ac-0), 1);
  background-color: rgba(var(--ac-0), 0.05);
  border-color: rgba(var(--ac-0), 1);
}

.quote code {
  background-color: rgba(var(--ac-0), 1);
}

.note {
  color: rgba(var(--ac-1), 1);
  background-color: rgba(var(--ac-1), 0.05);
  border-color: rgba(var(--ac-1), 1);
  padding-top: 20px;
  position: relative;
}

.note::before {
  content: "Nota";
  padding: 2px 1em;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--bg-1);
  background-color: rgba(var(--ac-1), 1);
  border-end-end-radius: 5px;
}

.note code {
  background-color: rgba(var(--ac-1), 1);
}

h1, h3 {
    margin-block-start: 0;
    margin-bottom: 0.3em;
    max-width: 100%;
}

h2 {
    font-size: x-large;
    margin-bottom: -1em;
}

p {
    line-height: 1.3;
}

progress {
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  border: none;
  background-color: var(--bg-0);
}

progress::-webkit-progress-bar {
  background-color: var(--bg-0);
}

progress::-webkit-progress-value {
  background-color: rgba(var(--ac-0), 1);
}

progress::-moz-progress-bar {
  background-color: rgba(var(--ac-0), 1);
}

hr {
  border: none;
  border-top: solid 3px;
  color: var(--bg-0);
}

.mobile_menu {
  display: none;
}

@media only screen and (max-width: 1280px) {
    nav {
      align-items: center;
    }

    #desktop_menu {
      display: none;
    }

    .mobile_menu {
      display: initial;
    }
}

@media only screen and (orientation: portrait) {
    body {
      font-size: medium;
    }

    nav {
      font-size: large;
      flex-direction: row;
    }

    h1 {
      font-size: xx-large;
    }

    h3 {
      font-size: larger;
    }

    li:has(.blog_entry) + li:has(.blog_entry) {
      border-top: solid .2em var(--bg-0);
    }

    li:has(.blog_entry) a {
      font-size: small;
      padding-top: .7em;
      padding-bottom: .7em;
      margin-top: .7em;
    }

}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --fg:   #FCE8C3;
    --bg-0: #1C1B19;
    --bg-1: #121212;
    --ac-0: 251, 184, 41;
    --ac-1: 44, 120, 191;
  }
  
  li:has(.blog_entry) a {
    background-color: var(--bg-0);
    color: var(--fg);
  }  
  
  li:has(.blog_entry) a:hover {
    color: var(--bg-0);
  }
  
  pre.src {
    background-color: var(--bg-0);
    color: var(--fg);
  }
  
  pre.src, pre.example {
    border-color: rgba(var(--ac-0), 1);
  }
}
