@font-face {
  src: url('/fonts/Rubik-Regular.ttf');
  font-family: 'text';
  font-display: swap;
}

@font-face {
  src: url('/fonts/FiraCode-Regular.ttf');
  font-family: 'code';
  font-display: swap;
}

::-webkit-scrollbar {
  background-color: var(--bg-0);
  width: .3em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--ac-0), .5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--ac-0), 1);
}

:root {
  --bg-1: #feedf3;
  --bg-0: #f8e2e7;
  --fg:   #564448;
  --ac-0: 223, 45, 82;
  --ac-1: 29, 137, 145;
}

noscript {
  display: grid;
  justify-content: center;
  padding: 1em;
}

html {
  display: block;
  margin: auto;
  scroll-padding-top: 4em;
}

body {
  display: block;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'text', system-ui, Sans-Serif;
  font-size: large;
  background-color: var(--bg-1);
  color: var(--fg);

  &:has(section:target) {
    section#intro {
      display: none;
    }
    nav {
      display: flex;
    }
  }
}

a {
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: .3em;
  color: rgba(var(--ac-0), 1);

  &:hover {
    color: var(--bg-1);
    background-color: rgba(var(--ac-0), 1);
  }

  &[href^="http"]::after {
    content: "\2197";
  }

  &.blog_entry {
    color: var(--fg);
    font-family: 'code', monospace;
  }

  &.link_button {
    margin: 3px 5px;

    &::after {
      content: "";
    }
  }
}

nav {
  display: none;
  flex-direction: column;
  background-color: var(--bg-0);
  position: fixed;
  height: 100%;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
  }

  a {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-align: center;
    transition: all 100ms;
    border-radius: 5px;
    text-decoration: none;
    color: var(--fg);

    &:hover {
      text-decoration: underline;
      text-underline-offset: .2em;
      color: var(--bg-0);
    }

    &:active {
      border-radius: 0;
    }
  }

  .mobile_menu {
    display: none;
  }

  .desktop_menu {
    display: flex;
    flex-direction: column;
  }
}


main {
  position: relative;
  max-width: 60ch;
  display: block;
  margin: auto;
}

section {
  display: none;
  width: 90%;
  min-height: 100vh;
  padding: 1em;
  position: absolute;
  top: 0;
  background-color: var(--bg-1);
  z-index: 5;

  &#intro, &:target {
    display: block;
  }
}

img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: 1em auto;
}

pre {
  font-family: "code", monospace;
  border: solid .1em;
  border-radius: 3px;
  margin: 0;
  overflow: scroll;
  padding: 10px;
  border-color: var(--fg);

  &::-webkit-scrollbar {
    display: none;
  }

  &.src {
    background-color: var(--fg);
    color: var(--bg-1);
    position: relative;

    &:has(+ &) {
      margin-bottom: 1em;
    }

    & span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(var(--ac-0), 1);
      color: var(--bg-0);
      font-weight: normal;
      padding: .2em 10px;
      border-end-end-radius: 5px;
      line-height: 1;
    }
  }

  &.src:has(+ &.example) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    margin-bottom: 0;
  }

  &.src + &.example {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }

  &.example {
    background-color: rgba(var(--ac-0), 1);
    color: var(--bg-1);
  }
}

li {
  padding-inline-start: 10px;
  list-style-position: inside;
}

li + br {
  display: none;
}

ul {
  padding-inline-start: 0;

  &:has(.blog_entry) {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

li:has(.blog_entry) {
  line-height: 2.0;
  padding-inline-start: 0px;
  margin: 10px 0;
  list-style: none;

  & a {
    padding: 3px 10px;
    border-radius: 5px;
    transition: all 300ms;
    text-decoration: none;
    margin: 5px;
    display: block;
    line-height: 2.0;
    background-color: var(--fg);
    color: var(--bg-0);

    &:hover {
      background-color: rgba(var(--ac-0), 1);
    }

    &:active {
      border-radius: 0;
    }
  }
}

blockquote {
  margin: 1em 0;
  padding: .3em 1em;
  border-radius: 3px;
  line-height: 1.3;
  border-left: solid .3em;
  position: relative;

  &.quote {
    color: rgba(var(--ac-0), 1);
    background-color: rgba(var(--ac-0), 0.05);
    border-color: rgba(var(--ac-0), 1);

    & code {
      background-color: rgba(var(--ac-0), 1);
    }
  }

  &.note {
    color: rgba(var(--ac-1), 1);
    background-color: rgba(var(--ac-1), 0.05);
    border-color: rgba(var(--ac-1), 1);
    padding-top: 20px;
    position: relative;

    &::before {
      content: "Nota";
      padding: 2px 1em;
      position: absolute;
      top: 0;
      left: 0;
      color: var(--bg-1);
      background-color: rgba(var(--ac-1), 1);
      border-end-end-radius: 5px;
    }

    & code {
      background-color: rgba(var(--ac-1), 1);
    }
  }

  & span {
    padding-top: 2em;
    position: absolute;
    padding: .3em 1em;
    border-end-end-radius: 5px;
    top: 0;
    left: 0;
    background-color: rgba(var(--ac-0), 1);
    color: var(--bg-0);
    font-weight: normal;
  }
}

h1, h3 {
  margin-block-start: 0;
  margin-bottom: 0.3em;
  max-width: 100%;
}

h2 {
  font-size: x-large;
  margin-bottom: -1em;
}

p {
  line-height: 1.3;

  code {
    font-family: 'code', monospace;
    border-radius: 5px;
    padding: 2px 6px;
    display: inline-block;
    color: var(--bg-1);
    background-color: var(--fg);
  }
}

progress {
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  border: none;
  background-color: var(--bg-0);

  &::-webkit-progress-bar {
    background-color: var(--bg-0);
  }

  &::-webkit-progress-value {
    background-color: rgba(var(--ac-0), 1);
  }

  &::-moz-progress-bar {
    background-color: rgba(var(--ac-0), 1);
  }
}

hr {
  border: none;
  border-top: solid 3px;
  color: var(--bg-0);
}

table {
  border-collapse: collapse;
  border: solid .1em rgba(var(--ac-0), 1);
  width: 100%;

  th {
    background-color: rgba(var(--ac-0), 1);
    color: var(--bg-0);
    padding: .5em;
    text-align: center;
  }

  tr {
    background-color: var(--bg-0);
    &:nth-child(even) {
      background-color: var(--bg-1);
    }
  }

  td {
    padding: 3px 5px;
    &:nth-child(even) {
      border-right: solid .1em rgba(var(--ac-0), 1);
      border-left: solid .1em rgba(var(--ac-0), 1);
    }
  }
}

@media only screen and (max-width: 1280px) {
  section#home {
    display: block;
  }
  nav {
    flex-direction: row;
    height: auto;
    width: 100%;
    position: initial;
    align-items: center;

    .mobile_menu {
      display: initial;
    }

    .desktop_menu {
      display: none;
    }
  }

}

@media only screen and (orientation: portrait) {
  body {
    font-size: medium;
  }

  nav {
    font-size: large;
    flex-direction: row;
  }

  h1 {
    font-size: xx-large;
  }

  h3 {
    font-size: larger;
  }

  li:has(.blog_entry) + li:has(.blog_entry) {
    border-top: solid .2em var(--bg-0);
  }

  li:has(.blog_entry) a {
    font-size: small;
    padding-top: .7em;
    padding-bottom: .7em;
    margin-top: .7em;
  }
}

/* Dark Mode (Srcery) */
@media only screen and (prefers-color-scheme: dark) {
  :root {
    --fg:   #FCE8C3;
    --bg-0: #1C1B19;
    --bg-1: #121212;
    --ac-0: 251, 184, 41;
    --ac-1: 44, 120, 191;
  }

  li:has(.blog_entry) a {
    background-color: var(--bg-0);
    color: var(--fg);

    &:hover {
      color: var(--bg-0);
    }
  }

  pre.src {
    background-color: var(--bg-0);
    color: var(--fg);
  }

  pre.src, pre.example {
    border-color: rgba(var(--ac-0), 1);
  }
}

body:has(#intro:target) {
  header {
    display: none;
  }
}

.intro {
  display: block;
  margin: auto;
  position: relative;
  padding-top: 1em;
  justify-items: center;

  h1 {
    opacity: 0;
    transition: all 1s;
    position: absolute;
    bottom: -150%;
  }

  &:has(.cube:hover) {
    h1 {
      opacity: 1;
    }
  }

  /* https://triangulo.dev/posts/atomo-como-criar-cubo-css/ */
  .cube {
    width: 200px;
    height: 200px;
    position: relative;
    align-content: center;
  
    transform-style: preserve-3d;
  
    .face {
      transition: all 1s;
      background: rgba(var(--ac-1), 1);
      display: flex;
      align-items: center;
      justify-content: center;
  
      font-size: 50px;
      font-weight: bold;
      color: #234e52;
  
      width: 200px;
      height: 200px;
      position: absolute;
  
      a:hover  {
        background-color: transparent;
      }
    }
  
    .face--front {
      transform: rotateX(-20deg) rotateY(-20deg) translateZ(100px);
    }
  
    .face--right {
      transform: rotateX(-20deg) rotateY(70deg) translateZ(100px);
    }
  
    .face--back {
      transform: rotateX(70deg) rotateY(0deg) rotateZ(20deg) translateZ(100px);
    }
  
    &:hover {
      .face {
        background-color: rgba(var(--ac-0), 1);
      }
  
      .face--front {
        transform: rotateX(0deg) rotateY(0deg) translateZ(200px);
      }
  
      .face--right {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg) translateY(0px) translateX(-70px) translateZ(100px);
        width: 300px;
        height: 300px;
      }
  
      .face--back {
        transform: rotateX(0deg) rotateY(0deg) translateY(-50px) translateX(-50px) translateZ(0px);
        background-color: rgba(var(--ac-1), 1);
        width: 300px;
        height: 300px;
      }
    }
  }
}

@keyframes fade-in {
  from {opactity: 0}
  to   {opactity: 1}
}
