@font-face {
    src: url('/assets/Rubik-Regular.ttf');
    font-family: 'rubik';
    font-display: swap;
}

@font-face {
    src: url('/assets/Iosevka-Regular.ttf');
    font-family: 'iosevka';
    font-display: swap;
}

::-webkit-scrollbar {
    display: none;
}

:root {
  --bg-1: #feedf3;
  --bg-0: #f8e2e7;
  --fg:   #564448;
  --ac:   #df2d52;
}

* {
  user-select: none;
}

html {
    display: block;
    margin: auto;
    scroll-padding-top: 100%;
}

body {
    display: block;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'rubik', system-ui, Sans-Serif;
    font-size: large;
}

a {
    text-decoration: none;
    text-decoration: underline;
    text-underline-offset: .3em;
}

a[href^="http"]::after {
    content: "\2197";
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    top: 0;
    z-index: 20;
    max-width: 100vw;
    position: relative;
    z-index: 2000;
}

nav a {
    text-decoration: none;
    display: inline-block;
    transition: all 300ms;
}

nav a[href^="http"] {
    text-decoration: none;
}

nav a[href^="http"]::after {
    content: "";
}

header {
    position: relative;
    top: 0;
}

header a {
    padding: 10px;
    margin: 5px;
    transition: all 100ms;
    border-radius: 5px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    text-underline-offset: .2em;
}

header a:active {
    border-radius: 0;
}

main {
    position: relative;
    max-width: 60ch;
    display: block;
    margin: auto;
}

section {
  display: none;
  width: 90%;
  min-height: 100vh;
  padding: 1em;
  position: absolute;
  top: 0;
  background-color: var(--bg-1);
  z-index: 5;
}

section#home, section:target {
  display: block;
}

img {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 1em auto;
}

pre {
    font-family: "iosevka", monospace;
    border: solid .1em;
    border-radius: 3px;
    margin: 0;
    overflow: scroll;
    padding: 10px;
}

pre:has(+ pre) {
    margin-bottom: 1em;
}

pre:has(+ .example) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    margin-bottom: 0;
}

pre + .example {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

p code {
    font-family: 'iosevka', monospace;
    border-radius: 5px;
    padding: 2px 6px;
    display: inline-block;
}

li {
  padding-inline-start: 10px;
  list-style-position: inside;
}

li + br {
  display: none;
}

ul:has(.blog_entry) {
  margin: 0;
  padding: 0;
  list-style: none;
}

li:has(.blog_entry) {
    line-height: 2.0;
    padding-inline-start: 0px;
}

li:has(.blog_entry) a {
    padding: 3px 10px;
    border-radius: 5px;
    transition: all 300ms;
    text-decoration: none;
    margin: 5px;
    display: block;
    line-height: 2.0;
}

li:has(.blog_entry) {
    margin: 10px 0;
    list-style: none;
}

li:has(.blog_entry) a:active {
    border-radius: 0;
}

blockquote {
    margin: 1em 0;
    padding: .3em 1em;
    border-radius: 3px;
    line-height: 1.3;
    border-left: solid .3em var(--ac);
}

h1, h3 {
    margin-block-start: 0;
    margin-bottom: 0.3em;
    max-width: 100%;
}

h2 {
    font-size: x-large;
    margin-bottom: -1em;
}

p {
    line-height: 1.3;
}

.mobile_menu {
  display: none;
}

progress {
  border-radius: 0;
  border: none;
  background-color: var(--bg-0);
  width: 100%;
  border: solid 1px var(--bg-1);
}

progress::-webkit-progress-bar {
  background-color: var(--bg-1);
}

progress::-webkit-progress-value {
  background-color: var(--ac);
}

progress::-moz-progress-bar {
  background-color: var(--ac);
}

@view-transition {
    navigation: auto;
}

@media only screen and (orientation: portrait) {
    body {
      font-size: medium;
    }

    nav {
      font-size: large;
      flex-direction: row;
    }

    h1 {
      font-size: xx-large;
    }

    h3 {
      font-size: larger;
    }

    li:has(.blog_entry) {
      text-align: center;
      border-bottom: solid .1em var(--fg);
    }

    li:has(.blog_entry) a {
      font-size: small;
      padding-top: .7em;
      padding-bottom: .7em;
    }

}

@media only screen and (max-width: 1280px) {
    nav {
      align-items: center;
    }

    #desktop_menu {
      display: none;
    }

    .mobile_menu {
      display: initial;
    }
}

/* Colorscheme */

.color_block {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: solid 1px var(--fg);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.color_block + .color_block {
    border-left: none;
}

.src,
.example,
td,
table {
    border-color: var(--fg);
}

body,
.src,
header a:hover,
header a,
.nav_menu,
.blog_entry {
    color: var(--fg);
}

nav,
.src,
.nav_menu,
footer,
table,
blockquote,
#nav_menu:popover-open,
nav#table-of-contents {
    background-color: var(--bg-0);
}

blockquote,
#nav_menu a:hover,
a {
    color: var(--ac);
}

th,
.example {
    background-color: var(--ac);
}

header a:hover,
li:has(.blog_entry) a:hover,
#nav_menu a,
a:hover {
    background-color: var(--ac);
}

.example,
header a:hover,
li:has(.blog_entry) a:hover,
li:has(.blog_entry) a,
a:hover,
p code,
th,
#nav_menu a,
pre.src:hover:before {
    color: var(--bg-1);
}

li:has(.blog_entry) a,
p code,
#nav_menu a:hover,
pre.src:hover:before {
    background-color: var(--fg);
}

body,
tr:nth-child(even) {
    background-color: var(--bg-1);
}
