:root {
  --bg-0:         #2d353b;
  --bg-1:         #232a2e;
  --bg-2:         #343f44;
  --fg-0:         #d3c6aa;
  --fg-1:         #d3c6aa;

  --red:          #e67e80;
  --green:        #a7c080;
  --yellow:       #dbbc7f;
  --blue:         #7fbbb3;
  --purple:       #d699b6;
  --orange:       #e69875;
  --cyan:         #83c092;

  --grey:         #7a8478;

  --accent-1:     var(--green);
  --accent-2:     var(--cyan);
  --link:         var(--accent-1);
  --link-hover:   var(--accent-2);
  --heading:      var(--cyan);

  --border: solid 2px var(--bg-0);
}

time {
  color: var(--cyan) !important;
}

pre {
  background-color: var(--bg-0) !important;
}

body:has(.post) {
  background-color: var(--bg-0) !important;
}

.post article {
  background-color: var(--bg-1);
}

.post q, .post blockquote {
  background-color: var(--bg-0);
}
