:root {
  --bg-0:         #3c3836;
  --bg-1:         #282828;
  --bg-2:         #504945;
  --fg-0:         #ebdbb2;
  --fg-1:         #fbf1c7;

  --red:          #cc241d;
  --green:        #98971a;
  --yellow:       #d79921;
  --blue:         #458588;
  --purple:       #b16286;
  --orange:       #d65d0e;

  --cyan:         #689d6a;
  --grey:         #928374;

  --accent-1:     #81a1c1;
  --accent-2:     var(--blue);
  --link:         var(--accent-1);
  --link-hover:   var(--accent-2);
  --heading:      var(--cyan);

  --border: solid 2px var(--bg-1);
}

time {
  color: var(--green) !important;
}

nav {
  background-color: var(--bg-1) !important;
}
