:root {
  --bg-0:         #3b4252;
  --bg-1:         #2e3440;
  --bg-2:         #434c5e;
  --fg-0:         #eceff4;
  --fg-1:         #d8dee9;

  --red:          #bf616a;
  --green:        #a3be8c;
  --yellow:       #ebcb8b;
  --blue:         #5e81ac;
  --purple:       #b48ead;
  --orange:       #d08770;

  --cyan:         #88c0d0;
  --grey:         var(--bg-1);

  --accent-1:     #81a1c1;
  --accent-2:     var(--blue);
  --link:         var(--accent-1);
  --link-hover:   var(--accent-2);
  --heading:      var(--cyan);

  --border: solid .2em var(--bg-0);
}

time {
  color: var(--green) !important;
}

pre {
  background-color: var(--bg-0) !important;
}

body:has(.post) {
  background-color: var(--bg-0) !important;
}

.post article {
  background-color: var(--bg-1);
}

.post q, .post blockquote {
  background-color: var(--bg-0);
}
