.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight, .highlight .w {
  color: var(--fg);
  background-color: var(--bg-1);
}

.highlight .err {
  color: var(--red);
  background-color: var(--bg-2);
  font-weight: bold;
}

.highlight .c, .highlight .ch,
.highlight .cd, .highlight .cm,
.highlight .cpf, .highlight .c1,
.highlight .cs {
  color: var(--brown);
  font-style: italic;
}

.highlight .p, .highlight .pi,
.highlight .py, .highlight .kc,
.highlight .no {
  color: var(--wisteria);
}

.highlight .gh {
  color: var(--green);
  font-weight: bold;
}

.highlight .s, .highlight .sb,
.highlight .sc, .highlight .dl,
.highlight .sd, .highlight .s2,
.highlight .sh, .highlight .sx,
.highlight .s1, .highlight .si,
.highlight .sr {
  color: var(--green);
  font-style: italic;
}

.highlight .na {
  color: var(--green);
}

.highlight .k, .highlight .kd,
.highlight .kn, .highlight .kp,
.highlight .kr, .highlight .kv,
.highlight .nb,.highlight .se,
.highlight .kt {
  color: var(--yellow);
}

.highlight .nf, .highlight .nd,
.highlight .m, .highlight .mb,
.highlight .mf, .highlight .mh,
.highlight .mi, .highlight .il,
.highlight .mo, .highlight .mx {
  color: var(--niagara);
}

.highlight .ss, .highlight .nn,
.highlight .nc, .highlight .cp,
.highlight .nt {
  color: var(--quartz);
}
