@import url("/assets/css/themes/nord.css");

@font-face {
  src: url("/assets/fonts/AOTFShinGoProRegular.otf");
  font-family: "Shin Go Pro";
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--bg-1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--link);
}

html {
  scroll-padding-top: 1em;
  position: relative;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-1);
  color: var(--fg-0);
  font-family: "Shin Go Pro", "Rubik", "Sans Serif", system-ui;
  line-height: 1.6;
  position: relative;
}

main {
  display: block;
  margin: auto;
  margin-left: 15vw;
  max-width: 80ch;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  padding-top: 2em;
  z-index: 1;
}

footer {
  margin-top: 1em;
  padding: 1em;
  display: flex;
  position: absolute;
  width: calc(100vw - 30px);
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--bg-0);
  z-index: 15;
}

footer q, footer blockquote {
  background-color: inherit
}

article {
  display: block;
  max-width: 65vw;
  margin: auto auto auto 8vw;
  padding: 15px;
  background-color: var(--bg-0);
}

h1 {
  font-size: xx-large;
  position: relative;
  color: var(--heading);
}

h2, h3, h4, h5, h6 {
  color: var(--heading);
  font-size: x-large;
}

p {
  font-size: large;
  margin-bottom: 1.3em;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

time {
  color: var(--bg-2);
  font-size: initial;
}

q, blockquote {
  display: block;
  margin: 15px 0;
  padding: 8px 8px 8px 15px;
  border-left: solid 3px var(--accent-1);
  background-color: var(--bg-1);
  text-align: justify;
  transition: all 500ms;
}

q p, blockquote p {
  margin: .3em auto;
}

ul, ol {
  list-style-position: inside;
  padding-inline-start: 1em;
  line-height: 1;
  font-size: large;
  margin-bottom: 1em;
}

ol {
  list-style: auto;
}

ul {
  list-style: disc;
}

ul ul, ol ol {
  margin: 0;
}

ul p, ol p {
  display: none;
}

li {
  padding: 3px 0;
  line-height: 1.6;
}

hr {
  border: none;
  border-bottom: solid 1px var(--bg-2);
  margin: 1em 0;
}

q hr, blockquote hr {
  border-color: var(--bg-2);
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

a[href*="//"]:after {
  font-weight: 300;
  font-size: 0.85em;
  content: "\2197"; /* top right arrow */
  color: var(--link);
}

a[href*="//"]:hover:after {
  color: var(--link-hover);
}

table {
  border-radius: 3px;
  width: 100%;
  margin: 1em auto;
  text-align: left;
  border: var(--border);
  box-shadow: black 0px 1px 3px 0px;
}

th {
  background-color: var(--heading);
  color: var(--bg-0);
}

th, td {
  padding: 0.3em 0.8em;
}

tr {
  background-color: var(--bg-1);
}

tr:nth-of-type(even) {
  background-color: var(--bg-2);
}

summary {
  color: var(--heading);
}

summary:hover {
  cursor: pointer;
}

code, kbd, pre {
  padding: 5px;
  border-radius: 3px;
  font-family: "Iosevka", "Jetbrains Mono", monospace;
}

pre {
  padding: 1em;
  overflow-x: scroll;
}

pre code {
  padding: 0;
}

p code {
  background-color: var(--bg-2);
}

kbd {
  background-color: var(--fg-0);
  color: var(--bg-0);
}

img, iframe {
  max-width: 100%;
  display: block;
  margin: 0.7em auto;
  padding: 2px;
  border: solid 2px var(--bg-1);
  transition: all .5s;
}

img:hover {
  border: solid 2px var(--accent-2);
}

img:active {
  border: solid 2px var(--accent-1);
}

button {
  display: inline-block;
  padding: 1em;
  border: none;
  background-color: var(--bg-0);
  color: var(--link);
}

button:hover {
  color: var(--link-hover);
}

del {
  color: var(--bg-2);
}

nav {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  left: 0;
  z-index: 20;
  width: 8vw;
  height: 100vh;
  background-color: var(--bg-0);
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 1em;
}

.nav_items {
  display: flex;
  flex-direction: column;
}

#nav_menu:popover-open {
  font-family: "Shin Go Pro", "Rubik", "Sans Serif", system-ui;
  background-color: var(--bg-0);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  text-align: right;
  padding: 0.5em;
  border: var(--border);
  border-top: none;
  border-right: none;
  border-color: var(--bg-2);
  z-index: 1;
  animation: right-to-left 300ms both;
  min-height: 100vh;
  box-shadow: 0px 0 70px 0 black;
}

#nav_menu a {
  margin: 1em;
}

.nav_menu {
  display: none;
}

.home_link .image img {
  border-radius: 100% !important;
  width: 60px;
}

.home_link .text {
  display: none;
}

.button, .blog_item {
  color: var(--fg-2);
  background-color: var(--bg-2);
  padding: 5px 25px;
  border-radius: 3px;
  box-shadow: black 0px 1px 3px 0px;
  transition: all 200ms;
  font-size: small;
}

.button:hover, .blog_item:hover {
  color: var(--bg-1);
  background-color: var(--link-hover);
}

.button:active, .blog_item:active {
  box-shadow: 0px 1px 3px 0px black inset;
}

table:has(.blog_item) {
  border: none;
  box-shadow: none;
}

.blog_item {
  display: block;
  transition: all 300ms;
  margin-top: .8em;
}

.blog_item:hover {
  padding: 1em;
  background-color: var(--link);
  color: var(--bg-2);
}

.blog_item:hover a {
  color: var(--bg-2);
  text-decoration: underline;
}

.book_shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  position: relative;
  width: 200px;
  margin: 1em 10px;
  border: solid 2px var(--bg-1);
  padding: .2em;
}

.book img {
  object-fit: cover;
}

.book p {
  font-size: larger;
  text-align: center;
  margin: 0;
}

.book progress {
  border-radius: 0;
  border: none;
  background-color: var(--bg-1);
  width: 100%;
  border: solid 1px var(--bg-0);
}

.book progress::-webkit-progress-bar {
  background-color: var(--bg-1);
}

.book progress::-webkit-progress-value {
  background-color: var(--heading);
}

.book progress::-moz-progress-bar {
  background-color: var(--heading);
}

.book .progress {
  display:    block;
  font-size:  medium;
  font-style: italic;
  padding:    5px 1em;
  color:      var(--bg-1);
  text-align: center;
  user-select: none;
}

.game_collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scroll-padding-top: 8em;
}

.game_collection img {
  object-fit: cover;
  display: inline-block;
  margin: 2px;
  padding: 2px;
}

.game_info, .book_info {
  display: none;
  max-width: 50ch;
}

.book:hover img, .game:hover img {
  transform: rotate(5deg);
  z-index: 100;
}

.game:target, .book:target {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 2em auto;
  padding: 2em 0;
  width: 100%;
  min-height: 80vh;
  align-items: center;
}

.game img:hover, .book img:hover {
  box-shadow: 0px 0px 7px 5px var(--bg-1);
}

.game:target img, .book:target img {
  margin-bottom: 1em;
  transform: rotate(-10deg);
}

.game:target .game_info, .book:target .book_info {
  display: block;
  margin: auto;
  animation: left-to-right .5s both;
}

.profile {
  position: fixed;
  left: 78vw;
}

.profile img {
  margin: 0;
  margin-bottom: 1em;
  border-radius: 100%;
}

@keyframes left-to-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right-to-left {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes bottom-to-top {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@view-transition {
  navigation: auto;
}

@media only screen and (max-width: 1280px) {
  header {
    margin-bottom: 1em;
  }

  main {
    margin-top: 5em;
    margin-left: auto;
    padding: 15px;
    max-width: 90vw;
  }

  nav {
    top: 0;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 10vh;
    border-bottom: solid .2em var(--bg-2);
  }

  article {
    margin: auto auto auto 0;
    max-width: 70ch;
    padding-top: 5em;
  }

  .nav_items {
    display: none;
  }

  .nav_menu, nav a {
    display: inline-block;
    font-size: large;
  }

  .home_link .image {
    display: none;
  }

  .home_link .text {
    display: block;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .game, .book {
    justify-content: center;
  }

  .game:target .game_info, .book:target .book_info {
    animation: bottom-to-top .5s both;
  }

  .game:target img, .book:target img {
    transform: rotate(0);
  }

  .profile {
    position: initial;
    padding-bottom: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-1);
    border-bottom: var(--border);
    border-color: var(--bg-0);
  }

  .profile h3 {
    color: var(--fg-1);
  }

  .profile img {
    border-radius: 100%;
    margin: 0;
    margin-right: 10px;
    border: var(--border);
    width: 80px;
    height: 80px;
  }

  .profile img:hover {
    border-color: var(--accent-1);
  }

  .social {
    display: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

}
