@font-face {
  src: url("/Rubik-Regular.ttf");
  font-family: "Rubik";
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --bg:     #232323;
    --fg:     #bbbbeb;
    --fg-2:   #6666b6;
    --fg-alt: #ebeebb;
  }
}

@media only screen and (prefers-color-scheme: light) {
  :root {
    --bg:     #bbbbeb;
    --fg:     #232323;
    --fg-2:   #ebeebb;
    --fg-alt: #6666b6;
  }
}

html {
  max-width: 80ch;
  scroll-padding: 100vh;
  display: block;
  margin: auto;
}

body {
  display: block;
  overflow-x: hidden;
  max-width: 100%;
  margin: auto;
  padding: 1em;
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Rubik";
  font-size: large;
}

#mainBody {
  position: relative;
  user-select: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--fg);
  border-radius: 5px;
  font-size: larger;
}

nav a {
  padding: 10px;
  margin: 5px;
  color: var(--bg);
  transition: all 100ms;
  border-radius: 5px;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: .2em;
}

li {
  line-height: 2.5;
}

li a {
  color: var(--bg);
  background-color: var(--fg);
  padding: 10px;
  border-radius: 5px;
  transition: all 300ms;
}

li a:hover, nav a:hover {
  background-color: var(--fg-2);
  color: var(--fg);
}

nav a:active {
  border-radius: 0px;
}

article {
  display: none;
  position: absolute;
  background-color: var(--bg);
  width: calc(100% - 20px);
  min-height: 100vh;
  padding: 10px;
  padding-top: 4em;
}

article:target, #home {
  display: block;
}

h1, h3 {
  margin-bottom: 0.3em;
  max-width: 100%;
}

h1:active {
  color: var(--fg-alt);
}

h1 {
  font-size: xxx-large;
}

h3 {
  font-size: x-large;
}

#note_info {
  color: var(--fg-alt);
  margin-top: -0.5em;
  padding-top: 0.5em;
}

p {
  line-height: 1.3;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@media only screen and (orientation: portrait) {
  body {
    font-size: medium;
  }

  nav {
    font-size: large;
    flex-direction: row;
  }

  h1 {
    font-size: xx-large;
  }

  h3 {
    font-size: larger;
  }

  ul {
    list-style: disc;
  }

  li {
    margin-bottom: 1em;
  }

  li a {
    padding: 0;
    border-radius: 0;
    background-color: var(--bg);
    color: var(--fg);
    font-size: larger;
    line-height: 1.0;
    text-decoration: underline;
    text-underline-offset: .3em;
  }

  li a:hover {
    color: var(--fg);
    background-color: var(--bg);
  }

}
