@font-face {
  src: url("/Rubik-Regular.ttf");
  font-family: "Rubik";
}

:root {
  --fg: #bbbbeb;
  --bg: #232323;
  --fg-2: #6666b6;
  --fg-alt: #ebeebb;
  --link: #3368ef;
  --link-hover: #1146cd;
}

html {
  position: relative;
  max-width: 80ch;
  scroll-padding: 100vh;
  display: block;
  margin: auto;
}

body {
  padding: 1em;
  background-color: var(--bg);
  color: var(--fg);
  overflow-x: hidden;
  font-family: "Rubik";
  font-size: large;
  display: block;
  margin: auto;
  max-width: 100%;
  position: relative;
}

#mainBody {
  position: relative;
}

#navbar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: larger;
  background-color: var(--fg);
  border-radius: 5px;
  position: absolute;
}

#navbar a {
  padding: 15px;
  color: var(--bg);
}

a {
  text-decoration: none;
  color: var(--link);
}

li {
  line-height: 2.5;
}

li a {
  color: var(--bg);
  background-color: var(--fg);
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: all 300ms;
}

li a:hover {
  background-color: var(--fg-2);
  color: var(--fg);
}

article {
  display: none;
  position: absolute;
  background-color: var(--bg);
  width: calc(100% - 20px);
  min-height: 100vh;
  padding: 10px;
  padding-top: 4em;
}

article:target, #home {
  display: block;
}

h1, h2, h3 {
  margin-bottom: 0.3em;
  max-width: 100%;
}

h1 {
  font-size: xxx-large;
}

h2 {
  font-size: xx-large;
}

h3 {
  font-size: x-large;
}

#note_date {
  color: var(--fg-alt);
  margin-top: -0.5em;
  padding-top: 0.5em;
}

p {
  line-height: 1.2;
}

img {
  border: solid 2px transparent;
  transition: all 500ms;
}

img:hover {
  border: solid 2px var(--link);
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@media only screen and (orientation: portrait) {
  #navbar {
    font-size: x-large;
    flex-direction: row;
  }
}
