@font-face {
    src: url('/assets/Rubik-Regular.ttf');
    font-family: 'rubik';
    font-display: swap;
}

@font-face {
    src: url('/assets/Iosevka-Regular.ttf');
    font-family: 'iosevka';
    font-display: swap;
}

::-webkit-scrollbar {
    display: none;
}

html {
    display: block;
    margin: auto;
    scroll-padding-top: 1em;
}

body {
    display: block;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'rubik', system-ui, Sans-Serif;
    font-size: large;
    color: var(--fg);
    background-color: var(--bg-1);
}

a {
    text-decoration: underline;
    text-underline-offset: .3em;
    color: var(--ac);
    
    &:hover {
	color: var(--bg-1);
	background-color: var(--ac);
	text-decoration: none;
    }
    
    &[href^="http"]::after {
	content: "\2197";
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    top: 0;
    z-index: 20;
    max-width: 100vw;
    position: relative;
    z-index: 2000;
    background-color: var(--bg-0);
    
    & a {
	text-decoration: none;
	display: inline-block;
	transition: all 300ms;

	&[href^="http"] {
	    text-decoration: none;
	}

	&[href^="http"]::after {
	    content: "";
	}
    }    
}

.nav_items {
    display: flex;
    flex-direction: row;
}

#nav_menu {
    a {
	margin: 1em;
	padding: 1em;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	color: var(--bg-1);
	background-color: var(--ac);

	&:hover {
	    color: var(--ac);
	    background-color: var(--bg-0);
	}
   }
    
    &:popover-open {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border: none;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	padding: 5em 1em 1em 0em;
	background-color: var(--bg-1);

	a {
	    color: var(--bg-1);

	    &:hover {
		color: var(--ac);
		background-color: var(--bg-0);
	    }
	}
    }
}

.nav_menu {
    display: none;
    border: none;
    padding: 1em;
    border-radius: 5px;
    color: var(--fg);
    background-color: var(--bg-0);
}

#preamble {
    position: relative;
    top: 0;

    & a {
	padding: 10px;
	margin: 5px;
	transition: all 100ms;
	border-radius: 5px;
	text-decoration: none;
	color: var(--fg);
	
	&:hover {
	    text-decoration: underline;
	    text-underline-offset: .2em;
	    color: var(--bg-1);
	    background-color: var(--ac);
	}

	&:active {
	    border-radius: 0;
	}
    }
}

#content {
    min-height: 100vh;
    max-width: 60ch;
    padding: 1em;
}

#postamble {
    padding: 1em;
    background-color: var(--bg-0);
}

img {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 1em auto;
}

del {
    opacity: .5;
}

table {
    width: 100%;
    margin: 1em 0;
    border: solid 1px;
    background-color: var(--bg-0);
    border-color: var(--ac);
    
    tbody {
	border-top: solid 1px;
	border-color: var(--ac);
    }

    th {
	color: var(--bg-1);
	background-color: var(--ac);
	padding: .3em 0;
    }

    td {
	border-right: solid 1px;
	padding: 0 .3em;
	border-color: var(--ac);
    }
    
    tr:nth-child(even) {
	background-color: var(--bg-1);
    }
}

.title {
    text-align: left;
    font-size: xx-large;
}

.src, .example {
    font-family: "iosevka", monospace;
    border: solid .1em;
    border-radius: 3px;
    margin: 0;
    position: relative;
    transition: all 200ms;
    border-color: var(--ac);
}

pre.src {
    background-color: var(--bg-0);
    color: var(--fg);
    position: relative;

    &:before {
	margin-top: 0;
    }
    
    &:hover {
	padding-top: calc(2.5em + 16pt);
	padding-bottom: calc(1em + 8pt);
	
	&:before {
	    display: inline;
	    margin: 0;
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: calc(100% - 16pt);
	    padding: 8pt;
	    background-color: var(--ac);
	    color: var(--bg-1);
	}
    }
}

.example {
    color: var(--bg-1);
    background-color: var(--ac);
}

.org-src-container:has(+ .example) .src {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.example:has(+ .org-src-container),
.org-src-container:has(+ .org-src-container) {
    margin-bottom: 1em;
}

.org-src-container + .example {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

ul:has(.timestamp) {
    padding: 0;
    margin: 0;
}

li:has(a) {
    line-height: 2.0;
}

li:has(.timestamp) {
    margin: 10px 0;
    list-style: none;

    .timestamp {
	font-family: 'iosevka', monospace;
	display: inline-block;
	width: 145px;
	color: var(--ac);
    }
    
    & a {
	padding: 3px 10px;
	border-radius: 5px;
	transition: all 300ms;
	text-decoration: none;
	margin: 5px;
	display: inline-block;
	line-height: 2.0;
	color: var(--fg);
	background-color: var(--bg-0);

	&:active {
	    border-radius: 0;
	}
	
	&:hover {
	    color: var(--bg-1);
	    background-color: var(--ac);
	}
    }
}

nav#table-of-contents {
    padding: 5px;
    border-radius: 5px;
    display: block;
    position: initial;
    margin-bottom: 0;
    background-color: var(--bg-0);
    
    h2 {
	display: none;
    }
}

hr {
    border: dashed .1em var(--ac);
}

blockquote {
    margin: 1em 0;
    padding: .3em 1em;
    border-radius: 3px;
    border-left: solid .3em var(--ac);
    position: relative;
    color: var(--fg);
    background-color: var(--bg-0);
    
    &:has(b > b) {
	padding-top: 2em;
    }
    
    b {
	b {
	    background-color: var(--ac);
	    color: var(--bg-0);
	    padding: .2em 1em;
	    position: absolute;
	    border-end-end-radius: 5px;
	    font-weight: normal;
	    top: 0;
	    left: 0;
	}
    }

    .org-src-container {
	pre {
	    background-color: var(--bg-1);
	}
    }
}

h1, h3 {
    margin-block-start: 0;
    margin-bottom: 0.3em;
    max-width: 100%;
}

h2 {
    font-size: x-large;
}

p {
    line-height: 1.3;

    code {
	font-family: 'iosevka', monospace;
	border-radius: 5px;
	padding: 2px 6px;
	display: inline-block;
	color: var(--bg-1);
	background-color: var(--fg);
    }
}

@view-transition {
    navigation: auto;
}

@media only screen and (orientation: portrait) {
    body {
	font-size: medium;
    }

    nav {
	font-size: large;
	flex-direction: row;
    }

    h1 {
	font-size: xx-large;
    }

    h3 {
	font-size: larger;
    }

    li:has(.timestamp) {
	text-align: center;
	padding: 1em 0;

	.timestamp, a {
	    display: block;
	    margin: auto;
	}
	
	a {
	    font-size: small;
	    padding-top: .7em;
	    padding-bottom: .7em;
	}

    }

    li:has(.timestamp) + li:has(.timestamp) {
	border-top: solid .1em var(--fg);
    }
}

progress {
    -webkit-appearance: none;
    border-radius: 0;
    width: 100%;
    border: none;
    background-color: var(--bg-0);

    &::-webkit-progress-bar {
	background-color: var(--bg-0);
    }

    &::-webkit-progress-value {
	background-color: var(--ac);
    }

    &::-moz-progress-bar {
	background-color: var(--ac);
    }
}

@media only screen and (max-width: 1280px) {
    nav {
	align-items: center;
    }

    .nav_items {
	display: none;
    }

    .nav_menu, nav a {
	display: inline-block;
	font-size: large;
    }
}

@media only screen and (min-width: 1300px) {
    li:has(.timestamp) {
	a {
	    min-width: calc(100% - 200px);
	}
    }
}

/* Programming Languages */
pre.src-simphare:before		{ content: 'Hare'; }
pre.src-elisp:before		{ content: 'Emacs Lisp'; }
pre.src-javascript:before,
pre.src-js:before	        { content: 'JavaScript'; }

/* Colorscheme */
.color_block {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: solid 1px var(--fg);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.color_block + .color_block {
    border-left: none;
}
