@font-face {
    src: url('/assets/Rubik-Regular.ttf');
    font-family: 'rubik';
}

::-webkit-scrollbar {
    display: none;
}

html {
    max-width: 80ch;
    display: block;
    margin: auto;
    scroll-padding-top: 1em;
}

body {
    display: block;
    overflow-x: hidden;
    max-width: 85vw;
    padding: 1em;
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'rubik', system-ui, Sans-Serif;
    font-size: large;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--ac);
    text-decoration: underline;
    text-underline-offset: .3em;
}

a[href^="http"]::after {
    content: "\2197";
}

nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 94.5%;
    margin-bottom: 2em;
    background-color: var(--fg);
    border-radius: 5px;
    font-size: larger;
}

nav > a, nav > div > a {
    padding: 10px;
    margin: 5px;
    color: var(--bg);
    transition: all 100ms;
    border-radius: 5px;
    text-decoration: none;
}

nav > a:hover, nav > div > a:hover {
    text-decoration: underline;
    text-underline-offset: .2em;
}

nav > a:active, nav > div > a:active {
    border-radius: 0;
}

img {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 1em auto;
}

table {
    width: 100%;
    background-color: rgba(0,0,0,.015);
    border-color: var(--fg);
    margin: 1em 0;
    border: solid 1px;
}

td {
    border: solid 1px var(--fg);
}

th {
    background-color: rgba(0,0,0,.15);
}

tr:nth-child(even) {
    background-color: rgba(0,0,0,.1);
}

#content {
    margin-top: 5em;
}

.title {
    text-align: left;
    font-size: xx-large;
}

.timestamp {
    color: var(--fg);
}

.src, .example {
    background-color: rgba(0,0,0,.03);
    color: var(--fg);
    border: solid .1em var(--fg);
    border-radius: 3px;
    margin: 0;
}

.org-src-container:has(+ .example) .src {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.org-src-container + .example {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.example {
    background-color: var(--ac);
}

pre.src:hover:before {
    display: inline;
    margin-top: 14px;
    background-color: var(--fg);
    color: var(--bg);
    border-radius: 5px;
}

p code {
    background-color: var(--fg);
    color: var(--bg);
    border-radius: 5px;
    padding: 2px 6px;
    display: inline-block;
}

ul:has(.timestamp) {
    padding: 0;
    margin: 0;
}

li:has(a) {
    line-height: 2.0;
}

li:has(.timestamp) a {
    color: var(--bg);
    background-color: var(--fg);
    padding: 3px 5px;
    border-radius: 5px;
    transition: all 300ms;
    text-decoration: none;
    margin: 5px;
    display: block;
    line-height: 2.0;
}

li:has(.timestamp) {
    font-family: monospace;
    margin: 10px 0;
    list-style: none;
}

li:has(.timestamp) a:hover, a:hover {
    background-color: var(--ac);
    color: var(--fg);
}

li:has(.timestamp) a:active {
    border-radius: 0;
}

nav#table-of-contents h2 {
    display: none;
}

nav#table-of-contents {
    background-color: rgba(0,0,0,.03);
    padding: 5px;
    border-radius: 5px;
    display: block;
    position: initial;
    margin-bottom: 0;
}

blockquote {
    color: var(--ac);
    background-color: rgba(0,0,0,.03);
    margin: 1em 0;
    padding: .3em 1em;
    border-radius: 3px;
    border-left: solid .3em var(--ac);
}

h1, h3 {
    margin-bottom: 0.3em;
    max-width: 100%;
}

h2 {
    font-size: x-large;
}

p {
    line-height: 1.3;
}

@view-transition {
    navigation: auto;
}


@media only screen and (prefers-color-scheme: dark) {
    :root {
	--fg: #DCD7BA;
	--bg: #1F1F28;
	--ac: #957FB8;
    }
    
    th, .src {
	background-color: rgba(0,0,0,0.3);
    }

    tr:nth-child(even), blockquote, nav#table-of-contents {
	background-color: rgba(0,0,0,0.2);
    }
    
    .example {
	color: var(--bg);
    }
}

@media only screen and (prefers-color-scheme: light) {
    :root {
	--bg: #f2ebbc;
	--fg: #1F1F28;
	--ac: #4e8ca1;
    }
}

@media only screen and (orientation: portrait) {
    body {
	font-size: medium;
    }

    nav {
	font-size: large;
	flex-direction: row;
    }

    h1 {
	font-size: xx-large;
    }

    h3 {
	font-size: larger;
    }

    li:has(.timestamp) a {
	font-size: small;
	line-height: 3.0;
    }

}
