<!DOCTYPE html>
<html lang="{{site.lang}}">
{% include head.html %}
<body>
  <article>
  <div class="profile">
    <img src="/assets/img/avatar.png">
    <div>
      <h3>{{site.author}}</h3>
      <time>
        {% if page.modified %}
          {{ page.date | date: "%d.%m.%Y" }} | Última alteração: {{ page.modified | date: "%d.%m.%Y" }}
        {% else %}
          {{ page.date | date: "%d.%m.%Y" }}
        {% endif %}
      </time>
    </div>
  </div>
  <hr>
    <h1>{{page.title}}</h1>
    {{ content }}
    <hr>
    <div>
      <a class="button" href="/blog">Voltar</a>
    </div>
  </article>
  {% include footer.html %}
</body>
</html>
