<!DOCTYPE html>
<html lang="{{site.lang}}">
{% include head.html %}
<body>
{% include navbar.html %}
  <div class="post">
    <article>
      {% for author in site.data.authors %}
        {% if author.name == page.author %}
        <div class="profile">
          <a href="/authors#{{ author.name | slugify }}"><img src="/assets/img/authors/{{ author.name | slugify }}.png"></a>
          <div>
            <h3>{{ author.name }}</h3>
            <div class="social"><p>
            {% if author.github_user %}
              <br><a href="https://github.com/{{author.github_user}}">Github</a>
            {% endif %}
            {% if author.neocities %}
              <br><a href="https://neocities.org/site/{{ author.neocities }}">Neocities</a>
            {% endif %}
            {% if author.twitter %}
              <br><a href="https://x.com/{{author.twitter}}">Twitter/X</a>
            {% endif %}
            {% if author.youtube %}
              <br><a href="https://www.youtube.com/@{{ author.youtube }}">Youtube</a>
            {% endif %}
            {% if author.instagram %}
              <br><a href="https://instagram.com/{{ author.instagram }}">Instagram</a>
            {% endif %}
              </p></div>
            <time>
              {% if page.modified %}
              {{ page.date | date: "%d.%m.%Y" }} <br> Última alteração em: {{ page.modified | date: "%d.%m.%Y" }}
              {% else %}
                {{ page.date | date: "%d.%m.%Y" }}
              {% endif %}
            </time>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      <h1>{{page.title}}</h1>
      {{ content }}
      <hr>
      <div>
        <a class="button" href="/blog">Voltar</a>
      </div>
    </article>
  </div>
</body>
</html>
